body {
    background-image: url("Imagenes/fondo.jpg");
    background-position: center; 
    background-attachment: fixed;
    font-family: "ARIAL", serif;
}
.Manita{
    cursor:pointer;
}
.tablaBuscador{
    background-color:#F6ECD9;
    padding:10px;
    -webkit-box-shadow: inset 0px 0px 7px 6px rgba(70,130,180,1);
    -moz-box-shadow: inset 0px 0px 7px 6px rgba(70,130,180,1);
    box-shadow: inset 0px 0px 7px 6px rgba(70,130,180,1);
}
.botonBuscador {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
  background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:2px solid #babcd4;
  display:inline-block;
  cursor:pointer;
  color:#3a8a9e;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding:3px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
}
.botonBuscador:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
  background-color:#bab1ba;
}
.botonBuscador:active {
  position:relative;
  top:1px;
}
.warning {
    color:red;
    font-weight:bold;
    font-size: 21px; 
}

.box {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 4px 8px;
  border: 3px solid #b7b7b7;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(229,224,224,1);
  -webkit-box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.2) ;
  box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.boton:enabled {
	-moz-box-shadow:inset 0px 0px 9px 7px #23395e;
	-webkit-box-shadow:inset 0px 0px 9px 7px #23395e;
	box-shadow:inset 0px 0px 9px 7px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:3px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 42px;
	text-decoration:none;
	text-shadow:0px 0px 18px #263666;
}
.boton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
	background-color:#415989;
}
.boton:active {
	position:relative;
	top:1px;
}

.boton:disabled{
	-moz-box-shadow:inset 0px 0px 9px 7px #78828f;
	-webkit-box-shadow:inset 0px 0px 9px 7px #78828f;
	box-shadow:inset 0px 0px 9px 7px #78828f;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #78828f), color-stop(1, #78828f));
	background:-moz-linear-gradient(top, #78828f 5%, #78828f 100%);
	background:-webkit-linear-gradient(top, #78828f 5%, #78828f 100%);
	background:-o-linear-gradient(top, #78828f 5%, #78828f 100%);
	background:-ms-linear-gradient(top, #78828f 5%, #78828f 100%);
	background:linear-gradient(to bottom, #78828f 5%, #78828f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#78828f', endColorstr='#78828f',GradientType=0);
	background-color:#78828f;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:3px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 42px;
	text-decoration:none;
	text-shadow:0px 0px 18px #263666;
    cursor: not-allowed
}

#centrar {
    text-align:center;
}

.center {
    text-align:center;
}

.right {
    text-align: right;
}

.justify{
    text-align: justify;
}

#lpeque{
      font-size: 10px; 
}

#Flotante{
    background: rgba(227,234,235,1);
    background: -moz-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 5%, rgba(227,234,235,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,234,235,1)), color-stop(85%, rgba(227,234,235,1)), color-stop(100%, rgba(227,234,235,0)));
    background: -webkit-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: -o-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: -ms-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: linear-gradient(to bottom, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaeb', endColorstr='#e3eaeb', GradientType=0 );
    position:fixed;
    margin:0px;
    top:0;
    left:0;
    width:100%;
    height:65px;
    z-index:1000;
}

#CuerpoS{
    background: rgba(70,130,180,0.8);
    background: -moz-linear-gradient(top, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250px);
    background: -webkit-gradient(left top, left bottom, color-stop(100px, rgba(70,130,180,0)), color-stop(250px, rgba(70,130,180,0.9)));
    background: -webkit-linear-gradient(top, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250px);
    background: -o-linear-gradient(top, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250px);
    background: -ms-linear-gradient(top, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250px);
    background: linear-gradient(to bottom, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250p 250px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4682b4', endColorstr='#4682b4', GradientType=0 );
    margin-left:50px;
    margin-right:50px;
    margin-top:50px;
    padding:20px;
    border-radius: 3em;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
}
#CuerpoI{
    background: rgba(70,130,180,0.8);
    margin-left:50px;
    margin-right:50px;
    margin-top:0px;
    padding:20px;
    border-radius: 3em;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
}
#ContenidoS{
    margin-top:40px;
    font-size: 18px; 
}
#ContenidoI{
    margin-top:50px;
    font-size: 18px; 
}

.titulo {
  font-size: 25px; 
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.5) ;
}

a:link
{
   text-decoration: none;
}
a:visited
{
   text-decoration: none;
}

li A:link {text-decoration:none;color:#a104f8;} 
li A:visited {text-decoration:none;color:#a104f8;} 
li A:active {text-decoration:none;color:#5ab533;} 
li A:hover {text-decoration:underline;color:#5ab533;}

#Menu1{
    text-decoration:none;
    margin:5px;
    top:0px;
    padding-left:50px;
    padding-bottom:5px;
    padding-right:5px;
    padding-top:5px;
    text-align:center;
    -moz-box-shadow: 3px 5px 9px 0px #1564ad;
	-webkit-box-shadow: 3px 5px 9px 0px #1564ad;
	box-shadow: 3px 5px 9px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:4px 5px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}
#Menu1 li{
    font-size:24px;
    padding:5px;
    width:180px;
    height:auto;
}
#facebook{
  background: #5178D0;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}
.BuscadorFlotante{
    position:fixed;
    top:55px;
    left:0px;
    padding-top:10px;
    padding-left:50px;
    padding-bottom:7px;
    z-index:1;
    width:100%;
    background: rgba(227,234,235,1);
    background: -moz-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 5%, rgba(227,234,235,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,234,235,1)), color-stop(85%, rgba(227,234,235,1)), color-stop(100%, rgba(227,234,235,0)));
    background: -webkit-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: -o-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: -ms-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: linear-gradient(to bottom, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaeb', endColorstr='#e3eaeb', GradientType=0 );
}
.FondoBuscador{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1001;
}
.ContenidoBuscador {
    display: none;
    position:fixed;
    top:55px;
    left:0px;
    padding-top:10px;
    padding-left:50px;
    padding-bottom:7px;
    color: #333;
    z-index:1002;
}
.FondoFoto{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:1001;
    opacity:.85;
    -moz-opacity: 0.85;
    filter: alpha(opacity=85);
}
.ContenidoFoto{
    width: 100%;
    height: 218px;
    overflow-x:scroll;
    overflow-y:hidden;
    z-index:1002;
}
.ContenidoFotoScroll{
    display: none;
    position: fixed;
    top: 32%;
    left:0;
    width: 100%;
    height: 200px;
    overflow:hidden;
    background: #fff;
    z-index:1003;
}
.BotonIzquierda{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 30px;
    height: 100%;
    background: #ccc;
    z-index:1004;
    opacity:.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}
.BotonIzquierdaOculto{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 30px;
    height: 100%;
    z-index:1005;
}
.BotonDerecha{
    display: none;
    position: fixed;
    top:0;
    right:0;
    width: 30px;
    height: 100%;
    background: #ccc;
    z-index:1004;
    opacity:.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}
.BotonDerechaOculto{
    display: none;
    position: fixed;
    top:0;
    right:0;
    width: 30px;
    height: 100%;
    z-index:1005;
}

  .overlay{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index:1001;
        opacity:.85;
        -moz-opacity: 0.75;
        filter: alpha(opacity=75);
    }
 
    
    .modal {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        background: #fff;
        color: #333;
        z-index:1002;
        overflow: auto;
    }