body {
    background-image: url("Imagenes/fondo.jpg");
    background-position: center; 
    background-attachment: fixed;
}

#centrar {
    text-align:center
}
#Flotante{
    background: rgba(227,234,235,1);
    background: -moz-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 5%, rgba(227,234,235,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,234,235,1)), color-stop(85%, rgba(227,234,235,1)), color-stop(100%, rgba(227,234,235,0)));
    background: -webkit-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: -o-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: -ms-linear-gradient(top, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    background: linear-gradient(to bottom, rgba(227,234,235,1) 0%, rgba(227,234,235,1) 85%, rgba(227,234,235,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaeb', endColorstr='#e3eaeb', GradientType=0 );
    position:fixed;
    margin:0px;
    top:0;
    left:0;
    width:100%;
    height:65px;
}

#Cuerpo{
    background: rgba(70,130,180,0.8);
    background: -moz-linear-gradient(top, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250px);
    background: -webkit-gradient(left top, left bottom, color-stop(100px, rgba(70,130,180,0)), color-stop(250px, rgba(70,130,180,0.9)));
    background: -webkit-linear-gradient(top, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250px);
    background: -o-linear-gradient(top, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250px);
    background: -ms-linear-gradient(top, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250px);
    background: linear-gradient(to bottom, rgba(70,130,180,0) 100px, rgba(70,130,180,0.9) 250p 250px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4682b4', endColorstr='#4682b4', GradientType=0 );
    margin-left:50px;
    margin-right:50px;
    margin-top:50px;
    padding:20px;
    border-radius: 3em;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
}

#Contenido{
    margin-top:40px;
}

#Menu1{
    margin:0px;
    top:5px;
    left:40px;
    position:absolute;
    padding-left:30px;
    padding-bottom:5px;
    padding-right:5px;
    padding-top:5px;
}
#Menu1 li{
    font-size:24px;
    padding:5px;
    width:180px;
    height:auto;
}
#facebook{
  background: #5178D0;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}