body {
    background-image: url("Imagenes/fondo.jpg");
}
#Contenido{
    margin-top:30px;
}
#Menu1{
    position:absolute;
}
#Menu1 li{
    font-size:24px;
    float:left;
    position:relative;
    width:180px;
    height:auto;
}

#Menu1 li ul li{
    position:relative;
    padding-left:10px;
    top:30px;
}
#facebook{
  background: #5178D0;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}