<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="Conexion" connectionString="Data Source=C:\inetpub\wwwroot\BaseDeDatos.sdf"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
